{% extends base_template %}

{% block title %}Contact Information{% endblock %}

{% block content %}
    <p>Contact me at: <a href="mailto:me@example.com" style="color: blue; text-decoration: none; visited { color: purple; }" target="_blank">me@example.com</a></p>
    <br />
    <h3>Discord</h3>
    <p>Find me on <a style="color: blue; text-decoration: none; visited { color: purple; }" href="https://schwab-py.readthedocs.io/en/latest/help.html#asking-for-help-on-discord">Schwab-py's discord channel.</a>
{% endblock %}
